@mixin mobile{
    @media(max-width:576px){
        @content;
    }
}

.cartMsg{
   &__body{
      background-color:$primary;
      @include mobile{
          background-color:$white;
      }
      &--color{
          color:white;
          @include mobile{
            color:$primary-500;
        }
      }
   }
   &--title{
        text-align: center;
        font-size: $font-size-base*1.5; 
        color: white;
        @include mobile{
          padding:15px 0;
          background-color:$primary-200;
          color:$primary;
      }
   }
}

.cart{
    &--title{
        background-color: $primary-200;
    }
    &__img{
        margin:30px 0;
        height:110px;
        width: 100%;
        @include background-basic;
    }
    &__input__group{
        display: flex;
        &--form-control{
            padding:10px 15px;
            background-color: #fff;
            color:$primary-500;
        }
    }
}