.itemCard{
   position: relative; 
   // 第二層
   &__image{
      @include background-basic;
      height: 315px;
   }
   &__body{
      border: 1px solid $primary-200;
   }
   // 第三層
   &--choose{
      writing-mode:vertical-rl;
      padding: 15px 10px;
      background-color: $primary;
      color:lighten($primary,100%);
      letter-spacing: 5px;
      position: absolute;
      top:0px;
      left:20px;
   }
   &--love{
      position: absolute;
      top:20px;
      right:20px;
      font-size: $font-size-lg;
   }
   &--name, &--price{
      padding-top:15px; 
      padding-bottom:15px;
      font-size: $font-size-lg;
      border-right:1px solid $primary-200;
   }
}